<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbanquanao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/babymilo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ViewAllActivity"></activity>
        <activity android:name=".Activity.AddressActivity" />
        <activity android:name=".Activity.DelivertyActivity" />
        <activity android:name=".Activity.SanPhamActivity" />
        <activity android:name=".Activity.LoaiSanPhamActivity" />
        <activity
            android:name=".Activity.TrangChuActivity"
            android:label="@string/title_activity_trang_chu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DangNhap.DangNhap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KhoiDongActivity"
            android:screenOrientation="portrait"
            android:theme="@style/khoidong">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>